/* para cambios en tamaños a partir de md */
@media screen and (min-width: 768px) {
    
    .order-md-6 {
        order: 6;
    }

    .order-md-7 {
        order: 7;
    }

    .order-md-8 {
        order: 8;
    }

    .order-md-9 {
        order: 9;
    }

    .order-md-10 {
        order: 10
    }

    .order-md-11 {
        order: 11
    }
}
